/* GENERAL
--------------------------------------------------------------------------- */
html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Amatic SC', cursive;
  font-size: 14px;
  color: white;
}

section {
  width: 100vw;
  height: 100vh;
}

section img {
  display: block;
  max-width: 350px;
  margin: 20px auto;  
}

section p {
  max-width: 750px;
  margin: auto;
  font-size: 3em;
  font-weight: bolder;
  text-align: center;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* INTRO SECTION
--------------------------------------------------------------------------- */

#intro img.tilt-effect {
  display: block;
  margin: auto;
}

#intro .tilt__back, 
#intro .tilt__front {
  background-position: bottom;
}

h1 {
  position: absolute;
  left: 81px;
  top: 70px;
  z-index: 99999;
  font-weight: bolder;
  font-size: 6em;
  color: #FFF; 
  pointer-events: none;
  line-height: 1.2;
  -webkit-animation-duration: 10s; /* animate.css */
} 

h1 small {
  font-size: 0.6em;
  color: rgba(255, 255, 255, 0.64);
}

/* ABOUT SECTION
--------------------------------------------------------------------------- */

#about {
  background: #41323D;
}

/* MIND ESCAPE SECTION
--------------------------------------------------------------------------- */

#mind-escape {
  background: #BAFFFF;
}

#mind-escape p {
  color: #57CDCD;
}

#mind-escape a {
  color: #294A4A;
}

#mind-escape a:hover {
  
}

/* COPYRIGHT SECTION
--------------------------------------------------------------------------- */

#copyright {
  background: #323232;
}

#copyright h2 {
  text-align: center;
  font-size: 4em;
}