/* GENERAL
--------------------------------------------------------------------------- */
html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Amatic SC', cursive;
  font-size: 14px;
  color: white;
}

section {
  width: 100vw;
  height: 100vh;
}

section img {
  display: block;
  max-width: 350px;
  margin: 20px auto;  
}

section p {
  max-width: 750px;
  margin: auto;
  font-size: 3em;
  font-weight: bolder;
  text-align: center;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* INTRO SECTION
--------------------------------------------------------------------------- */

#intro h1 {
  position: absolute;
  left: 1.5em;
  top: 1em;
  z-index: 99999;
  font-weight: bolder;
  font-size: 6em;
  line-height: 1.2;
  color: #FFF; 
  pointer-events: none;
  -webkit-animation-duration: 3s; 
  animation-duration: 3s;
} 

#intro h1 small {
  font-size: 0.6em;
  color: rgba(255, 255, 255, 0.64);
}

#intro img.tilt-effect {
  display: block;
  margin: auto;
}

#intro .tilt__back, 
#intro .tilt__front {
  background-position: bottom;
}

/* BIGBLACKCODE SECTION
--------------------------------------------------------------------------- */

#bigblackcode {
  background: #CC4452;
}

#bigblackcode img, #bigblackcode p {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

/* MIND ESCAPE SECTION
--------------------------------------------------------------------------- */

#mindescape {
  background: #BAFFFF;
}

#mindescape img, #mindescape p {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

#mindescape p {
  color: #57CDCD;
}

#mindescape a {
  color: #294A4A;
}

/* COPYRIGHT SECTION
--------------------------------------------------------------------------- */

#copyright {
  background: #171717 url("../images/footer-background.jpg");
}

#copyright h2 {
  text-align: center;
  font-size: 6em;
  -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
  animation-duration: 2s;
}