html,
body {
    height: 100vh;  
    width: 100vw;
    margin: 0;
    padding: 0;
}

body {
    background: #1F1F1F;
    font-family: 'Amatic SC', cursive;
    color: white;
}

.wrapper {
    width: 400px;
    margin: auto;
    padding: 50px 20px;
    overflow: auto;
    position: relative;
    top: 30vh;
}

.wrapper * {
    float: left;
}

.wrapper h1 {
    font-size: 50px;
    margin: 0 30px;
}

.wrapper .gear-big {
    width: 50px;
    height: 50px;
    -webkit-animation: rotating-left 5s linear infinite;
    -moz-animation: rotating-left 5s linear infinite;
    -ms-animation: rotating-left 5s linear infinite;
    -o-animation: rotating-left 5s linear infinite;
    animation: rotating-left 5s linear infinite;
}

.wrapper .gear-small {
    width: 30px;
    height: 30px;
    -webkit-animation: rotating-right 2s linear infinite;
    -moz-animation: rotating-right 2s linear infinite;
    -ms-animation: rotating-right 2s linear infinite;
    -o-animation: rotating-right 2s linear infinite;
    animation: rotating-right 2s linear infinite;
}


@-webkit-keyframes rotating-left /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  to {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes rotating-left {
  from {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  to {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@-webkit-keyframes rotating-right /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating-right {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media(max-width: 400px) {
    .wrapper {
        width: 100vw;
        box-sizing: border-box;
        padding: 0;
        overflow: hidden;
        text-align: center;
    }

    .wrapper h1 {
        width: 100vw;
        margin: 0 0 30px 0
    }

    .wrapper .gear-big {
        margin-left: 37vw;
    }
}